
.footer {
  background-color: #000;
  color: #fff;
  padding: 40px 20px 20px;
  font-family: "Segoe UI", sans-serif;
  margin-top: 100px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.footer-left,
.footer-links,
.footer-social {
  flex: 1;
  min-width: 200px;
}

.footer-left h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.footer-links h3,
.footer-social h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  text-decoration: none;
  color: #aaa;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #fff;
}

.social-icons a {
  margin-right: 15px;
  font-size: 1.5rem;
  color: #aaa;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #fff;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid #333;
  padding-top: 15px;
  font-size: 0.9rem;
  color: #aaa;
}
body.dark-mode .footer-links-ul{
  background-color: #000;
  color: #005e00;
}
body.dark-mode .footer-links-ul li{
  background-color: #000;
}