/* LevelSelection.css */

.level-selection {
  text-align: center;
  padding: 1rem;
}
.level-selection h3{
    font-size: 20px;
    color: #555;
}
.level-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.level-cards .level-name{
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 1px;
    margin-top: 10px;
}
.level-cards .icon{
    margin-top: 30px;
}
.level-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 10px;
    width: 600px;
    height: 130px;
    cursor: pointer;
    padding-top: 10px ;
    padding-bottom: 10px ;
}
.card.beginner {
  background-color: #DCFCE7;
}
.card.intermediate {
  background-color: #FEF9C3;
}
.card.advanced {
  background-color: #FECACA;
}
body.dark-mode .card{
    color: #000;
}
body.dark-mode .card.beginner {
  background-color: #28b74e;
}
body.dark-mode .card.intermediate {
  background-color: #c7c938;
}
body.dark-mode .card.advanced {
  background-color: #c83f3f;
}
.card{
  transition: background-color 0.3s ease, color 0.3s ease;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: white;
  padding: 20px 30px;
  border-radius: 12px;
  text-align: center;
  max-width: 300px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.popup-buttons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.popup-buttons button {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #4f46e5;
  color: white;
  font-weight: bold;
}

.popup-buttons button:last-child {
  background-color: #e11d48;
}
.emoji-fly {
  display: inline-block;
  animation: flyUpDown 1.5s infinite ease-in-out;
}

@keyframes flyUpDown {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

body.dark-mode .animated-popup{
  background-color: #555;
  color: #fff;
}